<%- include('partials/header') %> 

<div class="jumbotron text-center">
    <h1><span class="fa"></span>Employee Profile</h1>
</div>

<% if(length == 0) { %> 
    <ul class="container jumbotron" style="list-style-type: none; background-color: #d5dddf;">
        <li>First Name: <%= item.fname %> </li>
        <li>Last Name: <%= item.lname %> </li>
        <li>Age: <%= item.age %> </li>
        <li>Address: <%= item.address %> </li>
        <li>Phone no. <%= item.ph %> </li>
    </ul>
    <a href="/delete/<%= item.idUser %> " class="btn btn-warning btn-lg">Delete User</a>
<% }else{ %> 
    <div style="text-align: center;">
        <h1>Employee has not added additional information.</h1>
    </div>
    <a href="/delete/<%= userID %> " class="btn btn-warning btn-lg">Delete User</a>
<% } %> 

<%- include('partials/footer') %> 